# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*

# next.js
.next/
out/
build/
dist/

# misc
.DS_Store
*.pem
.vscode/
.claude/
.idea/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts.bak
